.google-btn{
    text-align: center;
    margin-top: 8%;
    
}
.header{
    text-align: center;
}
.home{
    background-image: url('https://wallpaperaccess.com/full/754632.jpg');
    width: 100vw;
height: 100vh; 
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;

}