.example-spacer {
    flex: 1 1 auto;
  }

.image{
    position: absolute;
    top: 15px;
    right: 35px;
    height: 35px;
    width: 35px;
    padding-right: 200px;
  
}

.mat-toolbar.mat-primary {
    background: #1b9ce7;
    color: #fff;
  }

.header{
    margin-left: 30%;
    text-align: center;
    font-family: monospace;
    font-size: 30px;
}