<mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1 class="header"><strong>Welcome to MS - AU Management Portal </strong></h1>
      <span class="menu-spacer"></span>
     
      <span class="example-spacer"></span>
      <div *ngIf="isLoggedIn" class="group-tabs">
        <img src ="{{photo}}" class="image"/>
          <a mat-button [routerLink]="'/home'">{{name}}</a>
          
          <button mat-raised-button color="warn"  (click)= "logout()">Log Out</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
