<app-navbar></app-navbar>
<br><br><br><br>
<!-- <mat-grid-list cols="2" rowHeight="300px" >
    <mat-grid-tile class="col">
        <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="trendData"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel1"
        [yAxisLabel]="yAxisLabel">
        </ngx-charts-bar-vertical>
    </mat-grid-tile>
</mat-grid-list>  
 -->


 <mat-grid-list cols="2" rowHeight="300px" md-gutter-gt-sm="0px">
    <mat-grid-tile class="col">
        <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="trendDataLoc"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel1"
        [yAxisLabel]="yAxisLabel">
        </ngx-charts-bar-vertical>
    </mat-grid-tile>
    <mat-grid-tile class="col">
        <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="trendDataSkills"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel2"
        [yAxisLabel]="yAxisLabel">
        </ngx-charts-bar-vertical>
    </mat-grid-tile>
</mat-grid-list>  
<br>
<br>
<mat-grid-list cols="2" rowHeight="300px"   md-gutter-gt-sm="0px" >
    <mat-grid-tile class="col">
        <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="trendDataBGC"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel3"
        [yAxisLabel]="yAxisLabel">
        </ngx-charts-bar-vertical>
    </mat-grid-tile>
    <mat-grid-tile class="col">
        <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="trendDataOnboarding"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel4"
        [yAxisLabel]="yAxisLabel">
        </ngx-charts-bar-vertical>
    </mat-grid-tile>
</mat-grid-list>  