<app-navbar></app-navbar>

<div class="home">
<br><br><br><br>
<!-- <div *ngIf="user">
    <h1 class="header"> Hello, {{user.name}}! Welcome to MS - AU Management Portal</h1>
    <br>
    <img src= "{{user.photoUrl}}" class="image"/>
  </div>
  <div class="logout">
    <button mat-raised-button (click)="logout()">Logout</button>
  </div> -->

    <div class="tabs">
    <button mat-raised-button >Opportunity Management</button>
    <br><br>
    <button mat-raised-button >Candidate Management</button>
    <br><br>
    <button mat-raised-button >Course Management</button>
    <br><br>
    <button mat-raised-button >Assessment</button>
    <br><br>
    <button mat-raised-button (click)="onboarding()">Onboarding Portal</button>
  </div>

</div>

